body{
    font-size: 140%;
    font-family: "times new roman";
    margin-left: 25%;
    margin-right: 25%;
}
table{
    border-spacing: 0px;

}

td{
    padding:20px;
    border-bottom: 1px teal solid;
}
th{
    border-bottom: 1px teal solid;
}



img.left{
    float: left;
    width: 32%;
    height: 32%;
    max-width: 100%;
    max-height: 100%;
}